################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dataimporter/bin/Debug/netcoreapp3.1
/Dataimporter/.vs/DataImporter/v16
/Dataimporter/bin/Release/netcoreapp3.1
/Dataimporter/obj
/Dataimporter/.vs/DataImporter/config
